    @media all and (min-width: 900px) {

        .shape {
            animation: dapple 3s infinite;
            -webkit-animation: dapple 3s infinite;
            transition: ease-in-out;
            -webkit-transition: ease-in-out;
            -moz-transition: ease-in-out;
            -ms-transition: ease-in-out;
            -o-transition: ease-in-out;
        }

        .square {
            height: 500px;
            width: 500px;
            border-radius: 5%;
            -webkit-border-radius: 5%;
            -moz-border-radius: 5%;
            -ms-border-radius: 5%;
            -o-border-radius: 5%;
            border: 1px solid #888888;
            position: absolute;
            right: 30px;
            top: 25px;
            z-index: -1;
            animation-delay: 2s;
        }

        .square-sm {
            height: 200px;
            width: 200px;
            border: 1px solid #b5b5b5;
            position: absolute;
            left: 140px;
            bottom: 20px;
            z-index: -1;
            border-radius: 5%;
            -webkit-border-radius: 5%;
            -moz-border-radius: 5%;
            -ms-border-radius: 5%;
            -o-border-radius: 5%;
            animation-delay: 7s;
        }

        .square-layer {
            &-1 {
                height: 240px;
                width: 240px;
                border: 1px solid #ececec;
                position: relative;
                right: -100px;
                bottom: -400px;
                z-index: -1;
                border-radius: 5%;
                -webkit-border-radius: 5%;
                -moz-border-radius: 5%;
                -ms-border-radius: 5%;
                -o-border-radius: 5%;
                animation-delay: 5s;
            }
             &-2 {
                 height: 240px;
                 width: 240px;
                 border: 1px solid #ececec;
                 position: relative;
                 right: 100px;
                 bottom: 100px;
                 z-index: -1;
                 border-radius: 5%;
                 -webkit-border-radius: 5%;
                 -moz-border-radius: 5%;
                 -ms-border-radius: 5%;
                 -o-border-radius: 5%;
                 animation-delay: 5s;
             }

        }

        .circle {
            height: 700px;
            width: 700px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border: 1px solid #ececec;
            position: absolute;
            right: 0;
            top: 20px;
            z-index: -1;
            animation-delay: 2s;
        }

        .circle-sm {
            height: 200px;
            width: 200px;
            border: 1px solid #b5b5b5;
            position: absolute;
            left: 140px;
            bottom: 20px;
            z-index: -1;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            animation-delay: 7s;
        }

        .circle-layer {
            height: 400px;
            width: 400px;
            border: 1px solid #888888;
            position: absolute;
            left: 140px;
            bottom: 100px;
            z-index: -1;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            animation-delay: 5s;
        }

        @keyframes dapple {

            0%,
            100% {
                border-color: #ececec;
            }

            50% {

                border-color: #888888;
            }

            70% {
                border-color: #b5b5b5;
            }
        }
    }