@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
$QuickSand:'Quicksand', sans-serif;

body {
 font-family: $QuickSand;
 font-weight: 300;
 color: #1d1d1d88;
}

small {
    font-size: 10px;
}