.thumbnails {
    height: 100%;
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .thumbnail {
        height: 200px;
        overflow: hidden;
        opacity: 1;
        filter: grayscale(100%);

        img {
            max-width: 280px;
            width: fit-content;
            margin: 10px;
        }

        &:hover {
            opacity: 0.5;
        }
    }
}

.heading-xl {
    font-size: 45px;
    text-decoration: none;
    margin-left: 20px;
    text-shadow: 1px 5px 1px #ececec;
    color: #494949

}

.heading-l {
    font-size: 25px;
    text-align: right;
    width: 90%;
    text-shadow: 1px 5px 1px #ececec;
}

@media all and (min-width: 900px) {
    .heading-xl {
        font-size: 75px;
        position: absolute;
        top: 20px;
        left: 180px;
    }

    .heading-l {
        font-size: 55px;
        position: absolute;
        bottom: 70px;
        right: 50px;
    }

    .thumbnails {
        height: auto;
        top: 230px;
        left: 200px;
        position: absolute;
        max-width: 900px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;

        .thumbnail {
            img {
                max-width: 280px;
                width: fit-content;
                margin: 10px;

            }
        }
    }



}