.flex-container {
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	width: 100%;

	.heading-xl {
		font-size: 45px;
		text-decoration: none;
		text-shadow: 1px 5px 1px #ececec;
		color: #494949;
		text-align: center;
	}

	.heading-l {
		font-size: 25px;
		text-align: center;
		text-shadow: 1px 5px 1px #ececec;
	}

	p {
		font-size: 20px;
		text-align: center;
	}

	.heading-image-container {
		padding: 10px;
		height: 200px;
		display: flex;
		justify-content: center;
		margin-top: 20px;

		img {
			height: 100%;
			border-radius: 50%;
			opacity: 0.7;
			filter: grayscale(50%);
		}

		img:hover {
			opacity: 1;
			filter: grayscale(0%);
			// cursor: pointer;
		}
	}
}

.thumbnails {
	height: 100%;
	max-width: 900px;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	.thumbnail {
		height: 200px;
		overflow: hidden;
		opacity: 1;
		position: relative;

		img {
			max-width: 280px;
			width: fit-content;
			margin: 10px;
			z-index: -1;
		}

		h3 {
			position: absolute;
			bottom: 0;
			right: 40px;
			visibility: hidden;
			opacity: 0;

			/* transition effect. not necessary */
			transition: opacity 0.2s, visibility 0.2s;
		}

		&:hover {
			opacity: 0.7;

			h3 {
				visibility: visible;
				opacity: 1;
				color: #fff;
				background-color: #494949;
			}
		}
	}
}

@media all and (min-width: 900px) {
	.flex-container {
		display: flex;
		flex-direction: row-reverse;
	}

	header {
		display: flex;
		flex-direction: column;
		width: 50%;
		align-items: center;

		.heading-xl {
			font-size: 75px;
			text-align: right;
		}

		.heading-l {
			font-size: 50px;
			text-align: right;
		}

		p {
			font-size: 20px;
			text-align: right;
			margin-right: 20px;
		}
		.heading-image-container {
			margin-top: 90px;
		}
	}

	.thumbnails {
		height: auto;
		max-width: 945px;
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;

		.thumbnail {
			img {
				max-width: 280px;
				width: fit-content;
				margin: 10px;
			}
		}
	}
}
