footer {
    height: 45px;
    width: 95%;
    position: relative;
    bottom: 0;
    left: 0;
    text-align: center;
}

@media all and (min-width: 900px) {

    .layout {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    footer {
        display: flex;
        align-self: flex-end;
        justify-content: flex-end;
        width: 100%;

        p {
            padding-right: 20px;
            text-align: right;
        }

    }

}