footer {
    height: 45px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}

@media all and (min-width: 900px) {

    .layout {
        display: flex;
        flex-direction: row;
        height: 100vh;
    }

    main {
        overflow: scroll;
        height: 800px;
    }

}